<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        data-mdb-collapse-init
        class="accordion-button"
        type="button"
        data-mdb-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Mas información sibre la empresa
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
      <img src="https://s03.s3c.es/imag/_v3/ECONOMISTA/Personas/225x250/koenigsegg.jpg">
      <div class="accordion-body">
        Koenigsegg Automotive AB es un fabricante de automóviles superdeportivos exclusivos de lujo fundado en 1994, cuya sede central se ubica en Ängelholm, Suecia.
        Desde entonces es dirigida por su fundador Christian von Koenigsegg, quien comenzó con la creación de su propio automóvil deportivo a los 22 años.
      </div>
      <div class="accordion-body">
        Como tributo al escuadrón, Koenigsegg decidió agregar el icónico símbolo de Ghost a los coches que salían de la fábrica, 
        con el significado de estar ayudando a que el espectáculo continúe.
      </div>
      <img src="https://i.pinimg.com/736x/03/a1/de/03a1defa3b94a33ac552d69c09a42b2c.jpg">
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
     